{% extends 'base.html' %}

{% block content %}
<h2>Lista de Lecciones</h2>
<table class="table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Cliente</th>
            <th>Instructor</th>
        </tr>
    </thead>
    <tbody>
        {% for lesson in lessons %}
        <tr>
            <td>{{ lesson.date }}</td>
            <td>{{ lesson.time }}</td>
            <td>{{ lesson.client }}</td>
            <td>{{ lesson.instructor }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}