{% extends 'base.html' %}

{% block content %}
<h2>Lista de Vehículos</h2>
<table class="table">
    <thead>
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Matrícula</th>
            <th>Instructor</th>
        </tr>
    </thead>
    <tbody>
        {% for vehicle in vehicles %}
        <tr>
            <td>{{ vehicle.brand }}</td>
            <td>{{ vehicle.model }}</td>
            <td>{{ vehicle.license_plate }}</td>
            <td>{{ vehicle.assigned_instructor }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}